<div class="card">
    <div class="row">
        <div class="col-md-2">
            <a routerLink="pokemon/{{ pokemonId }}">
                <img
                    [src]="getImage()"
                    loading="lazy"
                    class="img-fluid rounded-start"
                    alt="pokemon"
                />
            </a>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <form>
                    <div class="mb-3 row">
                        <input type="text" class="form-control" id="name" [value]="pokemon.name" placeholder="Nome do pokémon" aria-describedby="name">
                    </div>
                    <div class="mb-3 row">
                        <div class="col-auto">
                            <input type="text" class="form-control" id="comment" [value]="pokemon.comment || ''" placeholder="Comentário">
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-primary" (click)="openModalAddComment()">Adicionar comentário</button>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-primary" (click)="removeComment()">Excluir comentário</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-2">
            <a class="btn btn-link text-warning" (click)="favoritePokemon()">
                <i class="bi fs-1" [ngClass]="pokemon.isFavorite ? 'bi-star-fill' : 'bi-star'"></i>
            </a>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
