.card {
    &-overlay {
        &:hover {
            .card {
                &-img-overlay {
                    visibility: visible;
                }
            }
        }
    }
    &-img-overlay {
        visibility: hidden;
        .btn-favorite {
            visibility: visible;
        }
    }
}
